<div class="login-container">
  <form action="/login" method="post">
    <p class="control has-icons-left">
      <input class="input login-box" type="text" placeholder="Username" name="username">
      <span class="icon is-left">
        <i class="fas fa-user-secret"></i>
      </span>
    </p>
    <p class="control has-icons-left">
      <input class="input login-box" type="password" placeholder="Password" name="password">
      <span class="icon is-left">
        <i class="fas fa-lock"></i>
      </span>
    </p>
    <button class="login-submit">Sign In !</button>
  </form>
</div>
