<div class="registration-container">
  <input class="input registration-box" type="text" placeholder="Username">
  <input class="input registration-box" type="text" placeholder="Email">
  <input class="input registration-box" type="password" placeholder="Password">
</div>
