<div class="registration-container">
  <form action="/register" method="post">
    <p class="control has-icons-left">
      <input class="input registration-box" type="text" placeholder="Profile Picture" name="profilepic">
      <span class="icon is-left">
        <i class="fas fa-user-circle"></i>
      </span>
    </p>
    <p class="control has-icons-left">
      <input class="input registration-box" type="text" placeholder="Username" name="username">
      <span class="icon is-left">
        <i class="fas fa-user-secret"></i>
      </span>
    </p>
    <p class="control has-icons-left has-icons-right">
      <input class="input registration-box" type="text" placeholder="Email" name="email">
      <span class="icon is-left">
        <i class="fas fa-envelope"></i>
      </span>
    </p>
    <p class="control has-icons-left">
      <input class="input registration-box" type="password" placeholder="Password" name="password">
      <span class="icon is-left">
        <i class="fas fa-lock"></i>
      </span>
    </p>
    <button class="register-submit">Register !</button>
  </form>
</div>
