<div class="footer">
  <h1 class="footer-title">Honeypot</h1>
  <div class="footer-icons">
    <i class="fab fa-facebook-f f-icons"></i>
    <i class="fab fa-twitter f-icons"></i>
    <i class="fab fa-tumblr f-icons"></i>
    <i class="fab fa-youtube f-icons"></i>
    <i class="fab fa-instagram f-icons"></i>
  </div>
  <ul class="footer-info">
    <li>About</li>
    <li>Terms of Use</li>
    <li>Help</li>
    <li>Privacy</li>
    <li>Careers</li>
  </ul>
</div>
