<div class="columns is-multiline nav-bar">
  <div class="column is-2">
    <h1 class="blog-title">Honeypot</h1>
  </div>
  <div class="column is-6">
  </div>
  <div class="column is-2">
    <h1 class="nav-content register">Become a member</h1>
  </div>
  <div class="column is-2">
    <h1 class="nav-content sign-in">Sign in</h1>
  </div>
</div>
<hr>
