<div class="columns is-multiline nav-bar">
  <div class="column is-2">
    <a href="/articles"><h1 class="blog-title">Honeypot</h1></a>
  </div>
  <div class="column is-6">
  </div>
  <div class="column is-2">
    <% if (locals.isLoggedIn) { %>
      <a href="/register"><h1 class="nav-content loggedin-prof">Profile</h1></a>
  <% } else { %>
    <a href="/register"><h1 class="nav-content register">Become a member</h1></a>
  <% } %>
  </div>
  <div class="column is-2">
    <% if (locals.isLoggedIn && !locals.article) { %>
      <a href="/articles/new"><h1 class="nav-content signed-in-header">Submit an article</h1></a>
    <% } %>
    <% if (locals.isLoggedIn && locals.article) { %>
      <a href="/articles/<%= article._id %>/edit"><h1 class="nav-content edit-link">Edit this article</h1></a>
    <% } else if(!locals.isLoggedIn) { %>
      <a href="/login"><h1 class="nav-content sign-in">Sign In</h1></a>
    <% } %>
  </div>
</div>
<hr>
