<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="shortcut icon" href="https://leifdreizler.com/images/favicons/favicon-194x194.png">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:800" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <link rel="stylesheet" href="/style.css">
    <meta charset="utf-8">
    <title>Honeypot - with a thousand lies and a good disguise.</title>
  </head>
  <body onload=hidePopupOnload()>
    <% include ./partials/header %>
    <%- body %>
    <div class="backgroundCover" id="backgroundCover">
      <div class="registerPopup" id="registerPopup">
      </div>
    </div>
  </body>
  <script type="text/javascript">
  const popup = document.getElementById('registerPopup');
  const backgroundCover = document.getElementById('backgroundCover');
  const register = document.getElementById('register');

  function hidePopupOnload() {
    popup.style.visibility = "hidden";
    backgroundCover.style.visibility = "hidden";
  }

  function showPopupOnClick() {
    popup.style.visibility = "hidden";
    backgroundCover.style.visibility = "hidden";
  }

  </script>
</html>
