<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <link rel="stylesheet" href="/style.css">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="columns is-multiline nav-bar">
      <div class="column">
        <h1>Sport</h1>
      </div>
    </div>
    <%- body %>
  </body>
</html>
