<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
    <link rel="shortcut icon" href="https://leifdreizler.com/images/favicons/favicon-194x194.png">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:800" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <link rel="stylesheet" href="/style.css">
    <meta charset="utf-8">
    <title>Honeypot - with a thousand lies and a good disguise.</title>
  </head>
  <body>
    <% include ./partials/header %>

    <%- body %>

    <% include ./partials/footer %>
  </body>
</html>
