<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="shortcut icon" href="https://leifdreizler.com/images/favicons/favicon-194x194.png">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:800" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <link rel="stylesheet" href="/style.css">
    <meta charset="utf-8">
    <title>Honeypot - with a thousand lies and a good disguise.</title>
  </head>
  <body>
    <div class="columns is-multiline nav-bar">
      <div class="column is-2">
        <h1 class="blog-title">Honeypot</h1>
      </div>
      <div class="column is-6">
      </div>
      <div class="column is-2">
        <h1 class="nav-content register">Become a member</h1>
      </div>
      <div class="column is-2">
        <h1 class="nav-content sign-in">Sign in</h1>
      </div>
    </div>
    <hr>
    <%- body %>
  </body>
</html>
