<div class="profile-page">
  <div class="profile-container">
    <img class="profilePagePic" src="<%= user.profilepic %>">
    <div class="profile-content">
      <h2 class="title is-4"><%= user.username %></h2>
      <p class="subtitle is-5"><%= user.email %></p>
    </div>
  </div>
</div>
