<div class="article-page">
  <img class="showHeaderImg" src="<%= user.profilepic %>">
  <div class="article-content">
    <h2 class="title is-4"><%= user.username %></h2>
    <hr class="hr-changes">
    <p class="subtitle is-5"><%= user.email %></p>
    <hr class="hr-changes">
  </div>
</div>
