a {
  color: black;
  text-decoration: none;
}

hr {
  margin: 3px 50px 10px 50px;
}

.article-title {
  font-size: 1.1875rem;
}

.article-summary {
  font-size: 1rem;
}

.column {
  padding-bottom: 0;
}

.blog-title {
  font-size: 40px;
  font-family: 'Work Sans', sans-serif;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: -8px;
}

.nav-content {
  text-align: center;
  font-size: 16px;
  font-family: 'Helvetica Neue';
  margin-top: 26px;
  font-weight: 400;
}

.nav-bar {
  padding: 10px 50px 0 50px;
  margin-bottom: 1px;
}

.article-container {
  padding: 0 50px;
}

.coverimg {
  max-width: 100%
}

.register {
  margin-right: -280px;
}

.sign-in {
  margin-left: 60px;
  color: #03a87c;
}
