li {
  margin: 0 5px 0 5px;
  display: inline-block;
  list-style-type: none;
  font-size: 12px;
  font-family: Open Sans,Trebuchet MS,TazuganeGothic,sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

input {
  font-family: 'Helvetica Neue';
}

hr {
  background-color: #d2e9e0;
  margin: 3px 50px 10px 50px;
}

textarea {
  font-family: 'Helvetica Neue';
}

textarea:last-of-type{
  margin-top: 14px;
}

.label {
  font-weight: 400;
}

.article-title {
  font-size: 1.1875rem;
}

.article-summary {
  font-size: 1rem;
}

.column {
  padding-bottom: 0;
}

.blog-title {
  font-size: 40px;
  font-family: 'Work Sans', sans-serif;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: -8px;
}

.nav-content {
  text-align: center;
  font-size: 16px;
  font-family: 'Helvetica Neue';
  margin-top: 26px;
  font-weight: 400;
}

.nav-bar {
  padding: 10px 50px 0 50px;
  margin-bottom: 1px;
}

.article-container {
  padding: 0 50px;
}

.coverimg {
  max-width: 100%
}

.register {
  margin-right: -280px;
}

.profile-link {
  margin-right: -280px;
}

.sign-in {
  margin-left: 90px;
  color: #03a87c;
}

.edit-link {
  margin-left: 10px;
  color: #03a87c;
}

.signed-in-header {
  margin-left: -10px;
  color: #03a87c;
}

.form-container {
  padding: 10px 50px 0 50px;
}

.title-box {
  border: 1px solid #d2e9e0;
  margin-top: 7px;
  margin-bottom: 7px;
  margin-right: 266px;
  box-shadow: inset 0 0 0 #000000;
  border-radius: 3px;
  width: 30%;
}

.registration-box {
  border: 1px solid #d2e9e0;
  margin-top: 7px;
  margin-bottom: 7px;
  box-shadow: inset 0 0 0 #000000;
  border-radius: 3px;
}

.login-box {
  border: 1px solid #d2e9e0;
  margin-top: 7px;
  margin-bottom: 7px;
  box-shadow: inset 0 0 0 #000000;
  border-radius: 3px;
}

.link-box {
  border: 1px solid #d2e9e0;
  margin-top: 7px;
  margin-bottom: 7px;
  box-shadow: inset 0 0 0 #000000;
  border-radius: 3px;
  width: 50%;
}

.content-boxes {
  border: 1px solid #d2e9e0;
  margin-top: 7px;
  margin-bottom: 7px;
  box-shadow: inset 0 0 0 #000000;
  border-radius: 3px;
}

.textarea {
  border: 1px solid #d2e9e0;
  max-width: 50%;
  min-width: 50%;
}

.comment-input-box {
  border: 1px solid #d2e9e0;
  margin-bottom: 7px;
  box-shadow: inset 0 0 0 #000000;
  border-radius: 3px;
  max-width: 100%;
  min-width: 100%;
}

.article-submit {
  background-color: #75b495;
  color: white;
  border: none;
  border-radius: 3px;
  margin-top: 7px;
  padding: 10px 42px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.register-submit {
  background-color: #75b495;
  color: white;
  border: none;
  border-radius: 3px;
  margin-top: 7px;
  padding: 8px 42px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.login-submit {
  background-color: #75b495;
  color: white;
  border: none;
  border-radius: 3px;
  margin-top: 7px;
  padding: 8px 42px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.comment-submit {
  background-color: #75b495;
  color: white;
  border: none;
  border-radius: 3px;
  margin-left: auto;
  margin-right: auto;
  padding: 8px 42px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 50px;
}

.article-page {
  height: 350px;
  margin: 3px 50px 10px 50px;
}

.showHeaderImg {
  float: right;
  height: 350px;
}

.hr-changes {
  display: block;
  margin: 0;
  background-color: white;
}

.hr-comments {
  margin: 0px 440px 10px 440px;
}

.article-content {
  padding-right: 720px;
}

.comment-box {
  color: white;
  margin: auto;
  width: 570px;
  padding-right: 59px;
}

.profile-pic {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.comment-profile {
  text-align: center;
  width: 64px;
  border-right: 2px solid #d5e7df;
}

.comment-text {
  color: black;
  float: right;
  width: calc(100% - 70px);
}

.registration-container {
  width: 350px;
  height: 354px;
  margin: auto;
  padding-top: 80px;
}

.login-container {
  width: 350px;
  height: 354px;
  margin: auto;
  padding-top: 110px;
}

.comment-container {
  width: 350px;
  height: 170px;
  margin: auto;
}

.icon {
  margin-top: 6px;
}

.footer {
  background-color: #d5e7df;
  padding: 0px;
  height: 196px;
  margin-top: 50px;
}

.footer-icons {
  width: 140px;
  margin: auto;
  padding-top: 10px;
  color: #878787;
}

.footer-info {
  text-transform: uppercase;
  text-align: center;
  padding-top: 35px;
  color: #878787;
}

.footer-title {
  color: #878787;
  padding-top: 20px;
  font-size: 40px;
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  text-transform: uppercase;
}

.f-icons {
  margin: 0 5px 0 5px;
}

.editForm {
  display: inline;
}

.deleteForm {
  display: inline;
}

.delete-submit {
  background-color: #c96565;
  color: white;
  border: none;
  border-radius: 3px;
  margin-top: 7px;
  padding: 10px 42px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.article-createdby {
  font-size: .8rem;
  margin-top: -19px;
  font-weight: 100;
}

.nav-submit {
  margin-left: 120px;
}

.loggedin-prof {
  width: 20px;
  margin-left: 30px;
}

.deletecommentButton {
  display: inline-block;
  border: none;
  border-radius: 15px;
  margin-left: 20px;
  padding: 2px 5px;
  text-decoration: none;
  background: #82af94;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 13px;
  cursor: pointer;
  text-align: center;
}
